<div style="background-color: #e0d7d1">

    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>
    booklist works!<br>booklist works!<br>booklist works!<br>booklist works!<br>

  <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>

</div>
