<div style="width:80%;margin: 0 auto ;height: 100%;position: absolute;left: 10%;">
  <div *ngIf="isLogin">
    <app-nav (logoutEvent)="forLogout($event)"></app-nav>
  </div>
  <div >
  <router-outlet></router-outlet>
  </div>
  <div class="custom-bottom">
    本站所有资源来自网络，仅供个人技术研究素材，如有侵权请第一时间联系管理员删除<br>
    联系邮箱：aust_zyl@163.com &nbsp; ICP证：<a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备18023932号</a>
    &nbsp;&nbsp;<img src="assets/img/gaba.png" > <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34052302341696
">皖公网安备&nbsp;&nbsp;34052302341696</a>
  </div>
</div>

